/* CSS Selectors arranged alphabetically */

.card_content {
    background-color: #ffffff;
}

.card-text {
    font-size: 14px;
    color: #3F5520;
    font-weight: bold;
    font-style: italic;
}

.gray_sq {
    background-color: #D9D9D9;
    width: 60px;
    height: 60px;
}

.how_app_work {
    text-align: center;
    color: #FF6A97;
}

.how_app_work p {
    font-size: 12px;
    color: black;
    line-height: normal;
}

.gradient_blue_orange_red {
    background: linear-gradient(to bottom, #ff1d0d, #ffaa33, #EEEEEE, #0099cc);
}

.gradient_pink2 {
    background-image: linear-gradient(180deg, #760024, #FF6A97, #EEEEEE, #EEEEEE);
}

.gradient_green {
    background-image: linear-gradient(180deg, #3F5520, #96DA39, #96DA39, #EEEEEE);
}

.green_border {
    border: 2px solid #96DA39;
    background: #e9ffcb;
}

.green_btn button, .green_btn button:hover {
    background: #8ac834;
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    font-size: 18px;
}

.green_highlight {
    color: #96DA39;
}

.landing_details h1, p {
    color: white;
}

.mystery_img img {
    width: auto;
    height: 200px;
}

.review_content p {
    color: black;
    line-height: normal;
    font-size: 11px;
}

.review_name {
    font-size: 10px;
    color: rgb(54, 54, 54);
}

.star_icon {
    font-size: 1rem; 
    color: #FFC700;
}

.subtitle p {
    font-size: 14px;
    line-height: normal;
}

.title1 {
    font-size: 15px;
    font-weight: bold;
}

.white_btn2 button, .white_btn2 button:hover {
    background: white;
    color: #ff3a75;
    font-size: 14px;
    font-weight: bold;
}