/* CSS Selectors arranged alphabetically */

.accordion-item button:focus {
    outline: none;
    box-shadow: none;
}

.accordion {
    --bs-accordion-active-bg: none;
}

.card select:focus {
    outline: none;
    box-shadow: none;
}

.card select {
    border-radius: 3px;
    font-size: 14px;
}

.gradient_green {
    background: linear-gradient(45deg, white 0%, #96DA39 50%, #618332 100%);

}

.gradient_pink2 {
    background: radial-gradient(circle, white 0%, #FF6A97 50%, #FF3A75 100%);
}

.gradient_yellow {
    background: linear-gradient(45deg, white 0%, #ffe97a 50%, #FF9A00 100%);
}

.gradient_yellow2 {
    /* background: linear-gradient(0deg, white 0%, #ffe97a 50%, #FF9A00 100%); */
    background: radial-gradient(circle, white 0%, #ffe97a 50%, #FF9A00 100%);
}

.green_border {
    border: 2px solid #96DA39;
    background: #e9ffcb;
}

.green_highlight {
    color: #96DA39;
}

.green_btn button, .orange_btn button:hover {
    background: #3F5520;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.item_card {
    border: 1px solid #ccc;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.item_card:hover {
    border: 1px solid #ff3a75;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item_name {
    font-size: 14px;
    font-weight: bold;
    color: black;
    line-height: normal;
}

.mystery_img img {
    width: auto;
    height: 200px;
}

.logo_img img {
    width: 250px;
    height: auto;
}

.orange_bg {
    background: orange;
}

.orange_btn button, .orange_btn button:hover {
    background: #ff8000;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.question-card, .card-color {
    background: none;
    border: none;
}

.question-card h5 {
    color: white;
}

.style_info {
    line-height: normal;
}

.subtitle p, .subtitle li {
    font-size: 14px;
    line-height: normal;
}

.title1 {
    font-size: 15px;
    font-weight: bold;
}

.white_btn2 button, .white_btn2 button:hover {
    background: white;
    color: #ff3a75;
    font-size: 14px;
    font-weight: bold;
}