/* CSS Selectors arranged alphabetically */

.black_text {
    color: black;
}

.black_btn button, .black_btn button:hover {
    background: #212121;
    font-size: 12px;
}

.blue_btn button, .blue_btn button:hover {
    background: #005bd3;
    font-size: 12px;
}

/* diff colored buttons */
.blue_btn button, .blue_btn button:hover, .pink_btn button, .pink_btn button:hover, .pink_btn2 button, .pink_btn2 button:hover, .black_btn button, .black_btn button:hover, .maroon_btn button, .maroon_btn button:hover, .white_btn button, .white_btn button:hover {
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

body {
    padding: 0;
    margin: 0;
}

.bold_header {
    font-weight: bold;
    line-height: normal;
}

.burger_icon {
    font-size: 2rem; 
    color: white;
}

.center_align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center_text {
    text-align: center;
}

.dark_gray_bg {
    background-color: #1E1E1E;
}

.gray_bg {
    background: #fbfbfb;
}

.gray_bg2 {
    background: #eeeeee;
}

.maroon_btn button, .maroon_btn button:hover {
    background: maroon;
    font-size: 12px;
}

.nav-item a {
    font-size: 12px;
    color: white;
    margin: 0;
    line-height: normal;
}

.nav-item a:hover {
    color: #FF6A97;
}

.nav-link[aria-current="page"]{
	color: #FF6A97;
}

.page_title {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.pink_btn button, .pink_btn button:hover {
    font-size: 18px;
    background: #ff3a75;
}

.pink_btn2 button, .pink_btn2 button:hover{
    font-size: 12px;
    background: #ff3a75;
}

.pink_highlight {
    color: #FF6A97;
}

.pink_highlight2 {
    color: #ff3a75;
}

p {
    padding: 0;
    font-size: 12px;
}

.white_bg {
    background-color: white;
}

.white_btn button, .white_btn button:hover {
    background: white;
    color: #ff3a75;
    font-size: 18px;
}

.white_text {
    color: white;
}

.yellow_bg {
    background-color: #FFC700;
}