/* CSS Selectors arranged alphabetically */

.card_content {
  background-color: #3f5520;
  color: white;
}

.card-text {
  font-size: 12px;
  font-style: italic;
}

.back_link a {
  font-size: 12px;
  color: #ffffff;
}

.header_style {
  background: linear-gradient(180deg, #ff1d0d, #ffaa33);
  color: white;
}

.gradient_yellow {
  background-image: linear-gradient(180deg, #ffedac, #ffdb59);
}

.gradient_blue_orange_red1 {
  background: linear-gradient(180deg, #ff1d0d, #ffaa33, #eeeeee, #0dcfff, #eeeeee);
}

.img_logo img {
  width: auto;
  height: 350px;
}

.img_logo2 img {
  width: auto;
  height: 150px;
}

.landing_details h1, p {
  color: white;
}

.orange_border {
  border: 2px solid #ffaa33;
  background: #ffd69d;
}

.orange_border2 {
  background: #FFEECC;
}

.orange_highlight {
  color: #F57A11;
}

.red_highlight {
  color: #ff1d0d;
  font-weight: bold;
}

.review_content p {
  color: black;
  line-height: normal;
  font-size: 11px;
}

.review_name {
  font-size: 10px;
  color: rgb(54, 54, 54);
}

.star_icon {
  font-size: 1rem;
  color: #ffc700;
}

.sub_text p {
  color: black;
  line-height: normal;
  text-align: center;
  font-size: 14px;
}

.theme_logo img {
  width: 80%;
  height: auto;
}

.title1 {
  font-size: 15px;
  font-weight: bold;
}

/* JOSEPH */

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.timer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5rem;
}

.timer-number-container {
  display: flex;
  align-items: center;
}

.timer-number {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  color: #ffff00;
}

.timer-item:last-child .timer-number {
  margin-left: -2rem;
}

.timer-separator {
  display: inline-block;
  color: #ffff00;
  margin: 0 0.5rem;
}

.timer-label {
  font-size: 1rem;
  color: #f8f854;
  margin-top: 0.5rem;
  font-size: 18px;
  padding-right: 30px;
}