/* CSS Selectors arranged alphabetically */

.back_link a {
    font-size: 12px;
    color: #ffffff;
}

.bold_header2 {
    font-weight: 700;
}

.card_content {
    line-height: normal;
}

.gradient_green {
    background-image: linear-gradient(180deg, #3F5520, #96DA39, #eeeeee);
    position:static;
    width: auto;
    height: 500px;
}

.gray_btn button, .gray_btn button:hover {
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    font-size: 13px;
}

.green_border {
    border: 2px solid #96DA39;
    background: #e9ffcb;
}

.green_highlight {
    color: #96DA39;
}

.green_highlight2 {
    color: #3F5520;
}

.header_style {
    background: #3F5520;
    color: white;
}

.img_logo img {
    width: auto;
    height: 300px;
}

.img_logo2 img {
    width: auto;
    height: 150px;
}

.pink_btn2 button, .pink_btn2 button:hover {
    font-size: 13px;
}

.review_content p {
    color: black;
    line-height: normal;
    font-size: 11px;
}

.review_name {
    font-size: 10px;
    color: rgb(54, 54, 54);
}

.star_icon {
    font-size: 1rem; 
    color: #FFC700;
}

.yellow_bg {
    background: #FFEDAC;
}