.back_link a {
    font-size: 12px;
    color: #ffffff;
}

.forgot_pass {
    font-family:'Inter', sans-serif;
    font-size: 12px;
    color: #FF6A97;
    font-weight: bold;
}

.form_condi label {
    font-family:'Inter', sans-serif;
    font-size: 11px;
    line-height: normal;
}

.form_style {
    font-family:'Inter', sans-serif;
    font-size: 14px;
    color: gray;
}

.form_style input {
    font-family:'Inter', sans-serif;
    font-size: 13px;
}

.form_style input:focus {
    outline: none;
    box-shadow: none;
}

.header_style {
    background: #FF6A97;
    color: white;
}

.log_sign_btn button, .log_sign_btn button:hover {
    font-size: 14spx;
    background: #ff3a75;
    font-weight: bold;
}

.sec_question {
    line-height: normal;
    padding: 0;
    color: black;
    background: #FFEDAC;
}

.sign_up_link a {
    color: #ff3a75;
}

